.wrapper {
  padding: 10px 50px;
  background-color: lightgreen;
  // background-color: $HINGE_PINK_COLOR;
  border-radius: 5px;
  border: 1px dashed black;
  margin: 5px;
  cursor: pointer;
  width: 80%;
  min-width: 300px;
  text-align: center;
  margin-top: 3rem;
}

.filesWrapper {
  padding: 10px 50px;
  border: 1px solid black;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 80%;
  min-width: 300px;
  text-align: center;
}

.buttonWrapper {
  padding: 10px 50px;
  border-radius: 5px;
  margin: 5px;
  width: 80%;
  min-width: 300px;
  text-align: center;
  margin-top: 3rem;
}

.button {
  padding: 1em;
}

.wrapper:hover {
  background-color: greenyellow;
  border: 1px solid black;
}
