.container {
  max-width: 600px;
  width: 100%;
  margin: auto;
  border: 1px solid lightgray;
  padding: 15px;
}

.chartContainer {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 5px;
}

.artistText {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  margin-right: 10px;
}
